{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="searchpage">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Search Result
      </h1>
    </div>

    <section class="searchbox container mt-5 p-3 bg-accent">
      <form method="get" action="{% url 'search'%}">
        <div class="form-row">
          <div class="form-group col-md-4">
            <select name='city'id="inputState" class="form-control">
              {% for i in city%}
              <option selected disabled hidden>City</option>
              <option>{{i}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="form-group col-md-4">
            <select name="cameratype" id="inputState" class="form-control">
              {% for i in cameratype%}
              <option selected disabled hidden>Camera Type</option>
              <option>{{i}}</option>
              
              {%endfor%}
            </select>
          </div>
          <div class="form-group col-md-4">
            <select name="crew"class="form-control">
              {% for i in crew%}
              <option selected disabled hidden>Crew</option>
              <option>{{i}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <div class="text-center">

          <button class="btn btn-light">Search</button>
        </div>
      </form>
      
    </section>



    <section class="search-results container mt-3 grid">


        {%  for i in youtube %}
        <!-- person 1 -->
        <div class="card border-0 text-center">
          <div class="feature-text">
            <a href="{% url 'youtubersdetail' i.id %}">
            <img src="{{i.photo.url}}" class="card-img-top" alt="team-member"> </a>
            <span class="text-left bg-accent font-weight-bold">
              Featured
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.price}}</p>
            <div class="person-description mt-2">
              <button class="btn btn-accent">{{i.city}}  </button>
              <button class="btn btn-accent"> {{i.age}} </button>
              <button class="btn btn-accent"> Height </button>
            </div>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> {{i.crew}} </button>
              <button class="btn btn-accent"> {{i.cameratype}} </button>
              <button class="btn btn-accent"> {{i.subscribercount}} </button>
            </div>
          </div>
        </div>
        <!-- person 1 -->
{% endfor %}           














    </section>
  </main>

{% endblock %}